.card {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 2px 2px 18px;
  border-radius: $defaultBorderRadius;
  background-color: #ffffff;
  box-shadow: $defaultBoxShadow;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  &-image {
    display: block;
    max-height: 200px;
    border-radius: $defaultBorderRadius;
    overflow: hidden;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0 1rem;
  }

  .actions {
    margin-top: 2.4rem;
    padding: 0 1rem;
  }

  // LARGE MOBILE VIEW
  @include mq-between(mobile, tablet) {
    padding-bottom: 0;

    .card-image {
      flex: 0 0 33%;
      align-self: stretch;
      height: 100%;
      border-top-right-radius: 0;

      img {
        width: auto;
        max-width: none;

        @include mq-above(tablet) {
          display: none !important;
        }
      }
    }

    .card-info {
      flex: 0 0 67%;
      padding-bottom: 1rem;
    }

    .actions {
      margin-top: 1rem;
      @include clear-vh-padding;

      .btn {
        width: 100%;
      }
    }
  }
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.8rem;
}
