.card-form-container {
  max-width: 480px;
  margin: 100px auto;
  position: relative;

  @include mq-below(mobile) {
    width: 100%;
    form {
      border-radius: 0;
    }
  }

  form {
    padding: 50px 60px;
    border-radius: 40px;
    background: #ffffff;
    @include mq-below(mobile) {
      padding: 25px 15px;
      border-radius: 5px;
    }
  }

  input {
    width: 100%;
    margin: 0 0 1.5rem;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $lightBlue;
    &:focus {
      border-bottom-color: $darkBrown;
      outline: none;
    }
    &::placeholder {
      font-size: 12px;
      color: $lightBlue;
    }
  }

  .actions {
    display: flex;

    .btn {
      margin: 5px;
      @include mq-below(mobile) {
        font-size: 0.9rem;
      }
    }
  }

  .btn--closeAdd {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    transform: translate(30%, -15%);
    color: $darkBlue;
    cursor: pointer;
    &:hover {
      color: darkred;
    }
    &:active {
      transform: translate(30%, -15%);
    }
    .fas {
      font-size: 40px;
    }
    @include mq-below(mobile) {
      transform: translate(0px, -40%);
    }
  }
}
