.actions {
  .btn {
    @include clearBtn;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0.33rem 0.5rem;
    border: 1px solid $lightBlue;
    border-radius: 30px;
    background-color: $darkBlue;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    cursor: pointer;

    .fas {
      margin-right: 8px;
    }
  }
}
