// https://www.instagram.com/p/B9ZlG9Mo-DB/
// a palette from coolors.co
$darkBrown: #6a453b;
$lightBrown: #ceaa7a;
$pale: #e9e2ce;
$lightBlue: #7399bd;
$darkBlue: #1c477f;

$black: #262626;

$defaultText: $black;
$defaultBg: $pale;
$defaultBorderRadius: 12px 12px 0 0;
$defaultBoxShadow: 0px 0px 12px 6px rgba($black, 0.26);
$defaultFontFamily: "Comfortaa", sans-serif;

$breakpoints: (
  mobile: 576px,
  tablet: 768px,
  tablet-lg: 992px,
  desktop: 1200px,
  desktop-lg: 1600px
);
