.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  padding: 25px 10px;

  .card {
    flex: 1 0 auto;
    margin: 0 10px 2rem;
  }

  // LARGE MOBILE VIEW
  @include mq-between(mobile, tablet) {
    .card {
      width: 100%;
      max-width: none;
      flex-direction: row;
      flex-basis: 100%;
      width: 100%;
      margin: 0 0 1rem;
    }
  }

  // TABLET VIEW
  @include mq-above(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      flex-grow: 0;
      flex-basis: 47%;
      width: auto;
      align-self: stretch;
    }

    .card-info {
      display: flex;
      flex-grow: 1;
      .actions {
        padding-top: 1rem;
        margin-top: auto;
      }
    }
  }

  // DESKTOP VIEW
  @include mq-above(desktop) {
    justify-content: flex-start;
    .card {
      flex: 0 0 30%;
    }
  }

  // LARGE DESKTOP VIEW
  @include mq-above(desktop-lg) {
    .card {
      flex: 0 0 300px;
      max-width: 300px;
    }
  }
}
